extends ./templates/doctype.pug

block allContent
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="base_image", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias et eligendi reprehenderit nisi amet? Consequuntur ab possimus libero. Odio culpa sit eligendi corporis ab minus aliquam alias nihil magni debitis?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minus doloribus ducimus odio, enim incidunt possimus dicta consequuntur iusto voluptatem?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ad impedit dolorum sunt itaque nobis ea sequi a eos excepturi!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid-mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto officia vero facilis excepturi repudiandae reprehenderit ipsam a sint exercitationem dicta!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid-mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto officia vero facilis excepturi repudiandae reprehenderit ipsam a sint exercitationem dicta!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid-mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto officia vero facilis excepturi repudiandae reprehenderit ipsam a sint exercitationem dicta!