.row.testimoniales
    each testi in testimoniales 
        .col-md-5.col-lg.mb-4
            .card
                .card-body
                    blockquote.blockquote
                    p.mb-0
                        | #{testi.mensaje}
                    footer.blockquote-footer
                        | #{testi.nombre}